:root {
--rosa: rgb(250, 187, 187);
--roxo: #694873ff;
--azul: #0e7c7bff;
--preto: #001011ff;
--rosae: #f76f8eff;
--pink: #ac80a0ff;
--onyx: rgb(202, 202, 202);
--snow: #f6efeeff;
--azu: #379392ff;
--ciano: #4fb0c6ff;
}
