:root {
  /* MODO CLARO - REF 1 */
  --bg-body: #f1f5f9;
  --bg-header: rgba(255, 255, 255, 0.9);
  --text-main: #475569;
  --text-light: #94a3b8;
  --accent: #a5b4fc;
}

[data-theme="dark"] {
  /* MODO NOTURNO - REF 2 */
  --bg-body: #0f172a; /* Azul marinho profundo */
  --bg-header: rgba(15, 23, 42, 0.9);
  --text-main: #f1f5f9;
  --text-light: #64748b;
  --accent: #818cf8;
}