.cart {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 5rem;
  margin: 15rem 0;
  align-items: center;
}



.cart h2 {
  font-size: 4rem;
  font-weight: bolder;
}

.cart p {
  font-size: 6rem;
  border-radius: 3rem;
  background-color: var(--snow);
  color: var(--preto);
  padding: 3rem;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  padding: 2rem 5rem;
  margin: 2rem;
  border-radius: 1rem;
  background-color: var(--snow);
  color: var(--preto);
}

.cartItem img {
  width: 20rem;
  height: auto;
}

.cartItem h3 {
  font-size: 2rem;
  flex-grow: 1;
}

.cartItem p {
  font-size: 2rem;
}

.cartItem button {
  padding: 1rem 2rem;
  font-size: 3rem;
  background-color: var(--rosa);
  color: #111;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.cartItem button:hover {
  background-color: var(--pink);
}

.cartItem button:disabled {
  background-color: var(--pink);
  cursor: not-allowed;
}

.quantityControls {
  display: flex;
  align-items: center;
  border: 0.25rem solid #111;
  border-radius: 1rem;
}

.quantityControls span {
  font-size: 2rem;
  margin: 0 2rem;
}

.removeButton {
  border: none;
  cursor: pointer;
  color: var(--preto);
  margin-left: 2rem;
  font-size: 6rem;
  border-radius: 3rem;
  background-color: var(--snow);
  padding: 3rem;
  font-weight: bold;
  text-align: center;
}

.removeButton:hover {
  background-color: var(--onyx);
}

.trashIcon {
  width: 5rem;  /* largura */
  height: 5rem; /* altura */
}