.heroContainer {
  padding: 2rem 5rem;
  margin-top: 18rem; /* Para não ficar atrás do Header fixo */
}

.heroCard {
  background: linear-gradient(135deg, #a5b4fc, #818cf8);
  border-radius: 3rem;
  padding: 6rem 2rem;
  text-align: center;
  box-shadow: 0 10px 30px rgba(129, 140, 248, 0.3);
}

.quote {
  font-family: 'Georgia', serif; /* Para um ar mais poético */
  font-size: 3.2rem;
  font-style: italic;
  color: white;
  max-width: 80rem;
  margin: 0 auto;
  line-height: 1.4;
}